body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 18px;
}

.site-header { background: black; }

.header-inner {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand img { height: 28px; width: auto; }

.site { display: flex; gap: 14px; }

.site_link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.site_link:hover { transform: translateY(-2px); }

.site_link_active { color: #0bec12; }

/* 본문*/
.page { padding: 24px 0 40px; }

.top {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin: 12px 0 18px;
}

.top_title {
  grid-column: 2;
  margin: 0;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

.top_side {
  grid-column: 3;
  justify-self: end;
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 10px 14px;
}


.gird {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 980px) {
  .gird { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 620px) {
  .gird { grid-template-columns: 1fr; }
}


.id_card {
  background: #333333;
  border-radius: 18px;
  padding: 14px;

  display: grid;
  grid-template-columns: 120px 1fr 34px; 
  gap: 14px;

  transition: transform 0.2s;
}

.id_card:hover {
  transform: translateY(-2px);
}

/*사진 */
.id_media {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #111;
}

.id_media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.id_card:hover .id_media img {
  transform: scale(1.1);
}

.id_body { padding-top: 6px; }

.id_name {
  margin: 2px 0 6px;
  font-size: 18px;
}

/*전공/비전공 */
.id_role {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 12px;
  color: white;
  margin:10px;
}

.major { background: #e74c3c; }    
.nonmajor { background: #3498db; } 

.id_comment {
  margin: 0;
  font-size: 13px;
  line-height: 1.5;
  color: #e6e6e6;
}

.menu-icon {
  display: flex;             
  flex-direction: column;
    top: 10px; 
  right: 10px;
  gap: 5px;                   
  padding: 10px;
}

.menu-icon span {
  width: 25px;
  height: 3px;
  background: #898989;
  display: block;
  transition: transform 0.2s, width 0.2s;
}



.id_card:hover .menu-icon span {
  width: 15px;
}

.id_card:hover .menu-icon span:nth-child(2) {
  width: 20px;
}

@media (max-width: 520px) {
  .id_card {
    grid-template-columns: 1fr 34px;
    grid-template-rows: auto auto;
  }

  .id_media {
    grid-column: 1 / -1;
    margin: 0 auto;
  }

  .id_body {
    grid-column: 1 / -1;
  }

  .menu-icon {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    align-self: start;
  }
}
